{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="table">
            <thead>
            <ul>
            </ul>
            </thead>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Аппарат</th>
                <th scope="col">Доход</th>
                <th scope="col">Итого</th>
{#                <th scope="col">Оплата (нал - без нал)</th>#}
            </tr>
            </thead>
            <tbody>
{##}
            {% for addres in device %}
                <tr>

                    <th scope="row"><a href="{{ addres.get_absolute_url }}">{{ addres.name }}</a></th>
                    <td> {{ addres.get_sum }}</td>
                    <td>{{ addres.get_sum_win }}</td>
{#                    <td>{{ addres.payment }}</td>#}
                </tr>


            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}
