{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Аппарат</th>
                <th scope="col">Расходы</th>
                <th scope="col">Доход</th>
                <th scope="col">Итого</th>
                <th scope="col">Оплата (нал - без нал)</th>
            </tr>
            </thead>
            <tbody>                    {% for addres in address %}

                <tr>

                    <th scope="row"><a href="{{ addres.get_absolute_url }}">{{ addres.device.name }}</a></th>
                    <td>{{ addres.to_rent }}</td>
                    <td> {{ addres.get_sum_all }}</td>
                    <td>{{ addres.get_sum_all_sell }}</td>
                    <td>{{ addres.payment }}</td>

                </tr>                    {% endfor %}




            </tbody>
        </table>
    </div>
{% endblock %}
