{% extends 'base.html' %}
{% block content %}
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Месяц</th>
                    <th scope="col">Наличные</th>
                    <th scope="col">Расходы</th>
                    <th scope="col">Итого</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">январь</th>
                    <td>15325</td>
                    <td>5000</td>
                    <td>20325</td>
                </tr>
                <tr>
                    <th scope="row">Февраль</th>
                    <td>15325</td>
                    <td>5000</td>
                    <td>20325</td>
                </tr>
                <tr>
                    <th scope="row">Март</th>
                    <td>15325</td>
                    <td>5000</td>
                    <td>20325</td>
                </tr>
                <tr>
                    <th scope="row">Апрель</th>
                    <td>15325</td>
                    <td>5000</td>
                    <td>20325</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}