{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Адрес</th>
                <th scope="col">Расходы</th>
                <th scope="col">Доход</th>
                <th scope="col">Итого</th>
                <th scope="col">Оплата (нал - без нал)</th>
            </tr>
            </thead>
            <tbody>
            {% for addres in url %}
                <tr>
                    <th scope="row"><a href="{{ url }}">{{ addres.address.name }}</a></th>
                    <td>{{ addres.address.to_rent }}</td>
                    <td>{{ addres.address.get_sell }}</td>


                    <td>{{ addres.address.payment }}</td>
                </tr>
            {% endfor %}
            {% for a in address %}

                        <td>{{ a.get_sum }}</td>
                    {% endfor %}
            {#            {% if address %}#}
            {##}
            {#            {% endif %}#}
            </tbody>
        </table>
    </div>
{% endblock %}
