{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Аппарат</th>
                <th scope="col">Расходы</th>
                <th scope="col">Доход</th>
                <th scope="col">Итого</th>
                <th scope="col">Оплата (нал - без нал)</th>
            </tr>
            </thead>
            <tbody>
            {% for addres in address %}
                <tr>
                    <th scope="row"><a href="{{ url }}">{{ addres.name }}</a></th>
                    <td>{{ addres.to_rent }}</td>
                    {% for i in addres.device.all %}
                    <td> {{ i.get_sum }}</td>
                    <td>{{ i.get_sell }}</td>
                    {% endfor %}
                    <td>{{ device.address.payment }}</td>
                </tr>

                {{ addres.get_sum_all }}

            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}
